body {
    background-color: #03071d;
    color: #ffffff; /* Текст будет белым на темном фоне */
    margin: 0; /* Убираем отступы по умолчанию */
}
.container {
    margin-top: 50px; /* Уменьшаем верхний отступ контейнера */
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}
.card-header {
    margin-top: 20px;
    background-color: #03071d; /* Цвет заголовка карточки */
    color: #ffffff;
    text-align: center;
}

.card {
    background-color: #03071d; /* Фон карточки будет светлым */
    color: #ffffff; /* Текст на карточке будет темным */
    border: 3px solid #696972; /* Граница карточки */
    border-radius: 6px; /* Закругленные углы карточки */
    max-width: 400px; /* Уменьшение ширины карточки формы */
    margin: 0 auto; /* Центрирование карточки по горизонтали */
    margin-top: 20px; /* Уменьшаем верхний отступ карточки */
    margin-bottom: 20px; /* Уменьшаем нижний отступ карточки */
}

.card-header {
    margin-top: 20px;
    background-color: #03071d; /* Цвет заголовка карточки */
    color: #ffffff;
    text-align: center;
}

.form-control {
    background-color: #03071d; /* Цвет поля ввода */
    color: #ffffff; /* Цвет текста в поле ввода */
}

.form-control:hover,
.form-control:focus {
    background-color: #11254b; /* Новый цвет фона при наведении курсора на поле формы и при фокусе на поле формы */
    color: #ffffff; /* Новый цвет текста в поле формы при наведении курсора и при фокусе */
    border-color: #11254b; /* Новый цвет границы при наведении курсора и при фокусе */
}
.btn-primary {
    background-color: #0c6b22; /* Зеленая кнопка */
    border-color: #0c6b22; /* Цвет границы кнопки */
    display: block;
    margin: 0 auto; /* Центрирование кнопки по горизонтали */
    margin-top: 0px; /* Отступ сверху */
    -webkit-margin-after: 1px;
    width: 338px;
    -webkit-margin-after: 22px;
}
.btn-primary:hover {
    background-color: #218838; /* Новый цвет при наведении курсора на кнопку */
    border-color: #218838; /* Новый цвет границы при наведении курсора на кнопку */
}
.form-group-btn {
    margin-top: 20px; /* Увеличиваем верхний отступ для блока с кнопкой */
}
.alert {
    max-width: 400px;
    margin: 0 auto; /* Центрирование по горизонтали */
    position: fixed; /* Фиксированное положение */
    left: 50%; /* Положение по горизонтали в середине экрана */
    transform: translate(-50%, -50%); /* Центрирование относительно своего центра */
    padding: 10px; /* Добавление отступов вокруг уведомления */
    color: #0dcc3b; /* Цвет текста для уведомления об ошибке (пример) */
    border: none; /* Убираем границу */
    border-radius: 0; /* Убираем закругление углов */
    box-shadow: none; /* Убираем тень */
    background: none; /* Убираем фон */
}
